media/chat_images/
media/chat_thumbnails/
media/avatars/
staticfiles/

# SSL/TLS certificate and key files
localhost.crt
localhost.key

# local database file
db.sqlite3

venv/
__pycache__/
*.pyc
.env
*.log