services:
  web:
    build: .
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - redis
    environment:
      - DJANGO_SETTINGS_MODULE=chat_project.settings
    volumes:
      - .:/code
  redis:
    image: redis:alpine