#chat-log,#user-list,#room-list{
	overflow-y: scroll;
	background-color: #888888;
	min-height:200px;
}
.added_chat{
	display: flex;
	align-items: center;
}
.added_chat_name{
	font-size: 1.5em;
}
.link-userlist{
	display:block
}
#chat-message-submit{
	color:#000000;
}