#chat-log,#user-list,#room-list{
	width: 100%;
	overflow-y: scroll;
	background-color: #888888;
}
.added_chat{
	display: flex;
	align-items: center;
}
.added_chat_name{
	font-size: 1.5em;
}
.link-userlist{
	display:block
}
