#chat-log,#user-list,#room-list{
	height: 250px;
	overflow-y: scroll;
	background-color: #888888;
	min-height:0;
    overflow:auto;
}
  @media (max-width: 600px) {
	.flexbox {
	  flex-direction: column; /* 縦並びに変更 */
	}
  }