
<section class="border-2 border-blue-500">
<div id="chat-log"></div>
	<form id="chat-form" action = "" enctype="multipart/form-data">
		<div class="flex gap-3">
			<p class="control">
				<input class="input border" id="chat-message-input" autocomplete="off" type="text">
				<button class = "button" id="emoji-button" type = "button">😊</button>
				<div class="file file-icon">
					<label class="cursor-pointer" title="画像を選択">
						<input class="file-input hidden" type='file' id="image-input" accept="image/*">
						<i class="text-3xl fas fa-upload"></i>
					</label>
				</div>
			</p>
			<p class="control">
				<button class="button bg-blue-500 text-white px-2 py-1 rounded hover:bg-blue-600" id="chat-message-submit" type="button">送信</button>
			</p>
		</div>
	</form>
</section>




