
<section>
<div id="chat-log"></div>
	<form id="chat-form" action = "" enctype="multipart/form-data">
		<div class="flex gap-4">
			<p class="control">
				<input class="input is-primary" id="chat-message-input" autocomplete="off" type="text">
				<button class = "button is-primary" id="emoji-button" type = "button">😊</button>
			</p>
		</div>
		<div class="flex gap-4">
			<p class="control">
				<div class="file is-primary file-icon">
					<label class="cursor-pointer">
						<input class="file-input hidden" type='file' id="image-input" accept="image/*">
						<i class="text-3xl fas fa-upload"></i>
					</label>
				</div>
				<button class="button is-primary" id="chat-message-submit" type="button">送信</button>
			</p>
		</div>
	</form>
</section>




