{% extends "base.html" %}


{% block header %}
    <meta name="csrf-token" content = "{{csrf_token}}">
    {% load static %}
    <link rel="stylesheet" href = "{% static 'chat/css/lobby.css' %}">
    <script src="{% static 'chat/js/lobby.js' %}" type = "module"></script>
{% endblock %}


{% block body %}
<section class="border-2 border-blue-500">
    <h2>部屋のリスト</h2>
    <div id = "room-list"></div>
    <button id="room-list-update">更新！</button>
    <button id="make-room-submit">新規作成！</button>
    <dialog id = "make-room-modal" >
        <p>部屋名を入力してね！</p>
        <form method="dialog" id = "make-room-form">
            <input type="text" id = "room_name_input" autocomplete="off">
            <button value = "make-room-submit" form = "make-room-form">作成！</button>
            <button value = "make-room-cancel">閉じる</button>
        </form>
    </dialog>
    </section>
    {% include 'chat.html' %}
    {% include 'userlist.html' %}

{% endblock %}