{% extends "base.html" %}

{% block header %}
	<meta name="csrf-token" content = "{{csrf_token}}">

	{% load static %}
		<link rel="stylesheet" href = "{% static 'chat/css/room.css' %}">
		<script> window.roomid = parseInt("{{ room.id }}"); </script>
		<script src="{% static 'chat/js/room.js' %}" type = "module"></script>
	{% endblock %}


{% block body %}


	<h1>{{ room.id }}番部屋　{{user.account_id}}->{{room.name}}</h1>

	<div class = "flex gap-6">
		<div class="flex flex-col flex-1 min-w-0">
			{% include 'chat.html' %}
			{% include 'userlist.html' %}
		</div>

		<div id = "board-main">
			<div id = "position"></div>
			<div id = "captures"></div>
			<button type = "button" id = "makeboard">碁盤作成</button>
			<dialog id = "make-board-modal">
				<p>碁盤のサイズを決めてね</p>
				<form method = "dialog" id = "make-board-form">
					<label for = "input-boardx">横</label><input type="number" id="input-boardx" min="1" max="19" value = "13">
					<label for = "input-boardy">縦</label><input type="number" id="input-boardy" min="1" max="19" value = "13">
					<button value = "make-board-submit" form = "make-board-form">作成！</button>
					<button value = "make-board-cancel">閉じる</button>
				</form>
			</dialog>
			<div>
				<h1>WebRTC P2P </h1>
				<audio id = "remoteAudio" controls autoplay></audio>
				<button id = 'myvoice-toggle'>自分の音声のミュート切り替え</button>
			</div>
		</div>
	</div>

	<div><a href = "{% url 'chat:lobby' %}">ロビーに戻る</a></div>
<script>
function syncWidths(){
  const form = document.getElementById("chat-form");
  const log  = document.getElementById("chat-log");
  const users = document.getElementById("user-list");

  if(!form) return;

  const w = form.offsetWidth + "px";

  if(log) log.style.width = w;
  if(users) users.style.width = w;
}

window.addEventListener("load", syncWidths);
window.addEventListener("resize", syncWidths);
</script>
{% endblock %}