{% extends "base.html" %}
{% block header %}
{% load static %}
    <meta name="csrf-token" content = "{{csrf_token}}">
    <script>
        window.VAPID_PUBLIC_KEY = "{{ VAPID_PUBLIC_KEY }}";
    </script>
{% endblock %}
{% block body %}
<h1>{{ user.account_id }}</h1>
<h2>
</h2>
{% if is_owner %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ profile_form.as_p }}  <!-- フォームのフィールドをパラグラフとして表示 -->
    <hr>
    <h3>通知設定</h3>
    {{ user_form.as_p}}
    <button type="submit">保存</button>
</form>
{% else %}
    <p>このプロフィールは編集できません。</p>
{% endif %}

<script>
document.addEventListener("DOMContentLoaded", () => {
    const checkbox = document.getElementById("id_notify_room_create");
    if (!checkbox) return;

    checkbox.addEventListener("change", async () => {

        if (!checkbox.checked) return;

        if (Notification.permission === "default") {
            const result = await Notification.requestPermission();
            if (result !== "granted") {
                checkbox.checked = false;
                return;
            }
        }
        await registerPush();
    });


    function getCSRFToken() {
        return document.querySelector('meta[name="csrf-token"]').content;
    }
    function urlBase64ToUint8Array(base64String) {
        const padding = '='.repeat((4 - base64String.length % 4) % 4);
        const base64 = (base64String + padding)
            .replace(/-/g, '+')
            .replace(/_/g, '/');
        const rawData = window.atob(base64);
        return Uint8Array.from([...rawData].map(c => c.charCodeAt(0)));
    }
    async function registerPush() {
        try {
            if (!("serviceWorker" in navigator)) {
                console.log("SWなし");
                return;
            }
            if (!("PushManager" in window)) {
                console.log("PushManagerなし");
                return;
            }

            const registration = await navigator.serviceWorker.ready;
            console.log("SW ready OK");

            const existingSub = await registration.pushManager.getSubscription();
            console.log("existingSub: " + (existingSub ? "YES" : "NO"));

            const subscription = existingSub || await registration.pushManager.subscribe({
                userVisibleOnly: true,
                applicationServerKey: urlBase64ToUint8Array(window.VAPID_PUBLIC_KEY)
            });

            console.log("subscribe OK");

            const res = await fetch("/chat/api/save-subscription/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCSRFToken()
                },
                body: JSON.stringify(subscription)
            });

            console.log("save status: " + res.status);

        } catch (e) {
            console.log("ERROR: " + e.message);
        }
    }
});
</script>
{% endblock %}