/* 全体フォント */
body {
    font-family: "Noto Sans JP", sans-serif;
}

/* タイトル統一 */
.title {
    color: #1e293b;
    letter-spacing: 0.05em;
}

/* フッター */
.footer {
    font-size: 0.9rem;
    color: #666;
    margin-top: 30px;
}

/*-------------------------------------------*/
h2{
    font-size:1.5rem !important;
}

a,button{
    color: #2563eb !important;
}
a:hover,button:hover{
    opacity: 0.7;
}
#user-list > a{
    color: #000000 !important;
}