<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/emoji-button/dist/index.min.js"></script>
	<script src="https://cdn.tailwindcss.com"></script>
	{% block header %}
	{% endblock %}
</head>
<body>
	<div class="max-w-sm mx-auto bg-white shadow p-6">
	<h1 class = "title text-center text-3xl font-bold">囲碁検討部屋(音声通信付き)</h1>
	

	</section>
	<div class = "container ">
		{% block body %}
		
		{% endblock %}
	</div>
	<div class = "footer">
	<a href = "{% url 'accounts:index' %} ">topに戻る</a>
	</div>
</div>
</body>
</html>